* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f7f7f7;
    font-family: "Outfit", sans-serif;
    font-weight:400;
    font-style: normal;
}

.nav-bar {
    background: #ffffff;
    width: auto;
    height: 56px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    position: sticky;
    top:0;
    z-index:+1;
}
.flex-container1 {
    display: flex;
    width: auto;
    align-items: center;
}

.flex-container2 {
    display: flex;
    width: auto;
    align-items: center;
}

a.nav-link {
    text-decoration: none;
    color: black;
}

a.nav-link:hover {
    color: #ff6900;
}

.nav-opt {
    line-height: 50px;
    font-weight:400;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 3px solid red;
    border-bottom-color: rgba(253,104,0,0);
    transition-property: border-bottom-color;
    transition-duration: 0.2s;
}

    .nav-opt:hover {
        border-bottom-color: rgba(253,104,0,1);
    }

.mi-logo img {
    width: 28px;
    height: 28px;
    margin-right: 20px
}

.banner {
	width: 100%;
}

.banner img {
        display: block;
        max-width: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
    }

.banner-text {
    position: absolute;
    color: white;
    top: 250px;
    left: 300px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}

a.learnlink {
    text-decoration: none;
    color: black;
}

.learn-more {
    background-color: white;
    border: none;
    color: black;
    padding: 5px;
    font-size:16px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    position: absolute;
    top: 370px;
    left: 320px;
    border-radius: 10px;
    font-weight: bold;
}

    .learn-more:hover {
        background-color: #e1e1e1;
    }


.other-offers {
    margin-top: 16px;
    display: flex;
    height: 60vh;
    justify-content: space-evenly;
}

.buy-now{
    text-decoration:none;
    color: white;
    font-size:20.8625px;
}

.buy-now:hover{
    text-decoration:underline;
}

.tv-offer {
    position: relative;
    width: 48.76%;
    overflow: hidden;
    transition: box-shadow 0.25s ease;
}

    .tv-offer:hover {
        box-shadow: 1px 1px 20px rgba(40,40,40,0.4);
    }

.tv-text{
    position:absolute;
    width:100%;
    text-align:center;
    color:white;
    top:7%;
    font-size:40px;
    line-height:38px;
}

.tv-offer img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: box-shadow 0.25s ease;
}

.laptop {
    width: 23.76%;
    position: relative;
    transition: box-shadow 0.25s ease;
}
    .laptop img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .laptop:hover {
        box-shadow: 1px 1px 20px rgba(40,40,40,0.1);
    }

.laptop-text {
    position: absolute;
    width:100%;
    text-align: center;
    color: white;
    top: 7%;
    font-size: 40px;
}

.trimmer {
    background: #ffffff;
    width: 23.76%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 50px;
    transition: box-shadow 0.25s ease;
}

    .trimmer:hover {
        box-shadow: 1px 1px 20px rgba(40,40,40,0.1);
    }

.trimmer_text {
    display: grid;
    place-items: center;
    height: 60%;
    text-align: center;
}

.trimmer_img {
    display: grid;
    place-content: center;
    height:100%;
    overflow:hidden;
}

    .trimmer_img img {
        width: 100%;
    }

.protection {
    display: flex;
    height: 70vh;
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 64px;
    margin-bottom: 64px;
    justify-content: space-between;
}

.micare {
    display:grid;
    place-content:center;
    width: 50%;
    margin-right: 16px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    transition: box-shadow 0.25s ease;
}

.micare:hover{
    box-shadow: 1px 1px 20px rgba(40,40,40,0.08);
}

.opt{
    padding:20px;
}

.micare-opt {
    display: flex;
    justify-content: space-between;
}

.options{
    text-decoration:none;
    color:black;
    font-size:20.8625px;
    font-weight:400;
}

.options:hover{
    text-decoration:underline;
}

.other-care {
    display:flex;
    flex-direction:column;
    background:#f7f7f7;
    text-align: center;
    width:50%;
}

.physical-care {
    display: grid;
    place-content: center;
    height: 50%;
    border-radius: 20px;
    background: white;
    height: 50%;
    font-size: 41.725px;
    font-weight: 500;
    transition:box-shadow 0.25s ease;
}

.physical-care:hover {
    box-shadow: 1px 1px 20px rgba(40,40,40,0.08);
}

.footer {
    background: #191919;
    padding-top: 68px;
    margin-top: 50px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

ul {
    line-height: 38px;
}

ul>li {
    list-style-type: none;
}

.footer-column{
    list-style-type:none;
    line-height:38px;
    font-size:16px;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
}

.flink {
    text-decoration: none;
    color: #898989;
}

.flink:hover{
    color:white;
    text-decoration:underline;
    text-decoration-color:white;
}

.footer-column a {
    text-decoration: none;
    color: #898989;
}

.social-media-icons {
    display:inline-block;
    font-size:30px;
    margin-right:20px;
    list-style-type:none;
}


.social-links {
    text-decoration: none;
    color: #d0d0d0;
}
.social-links:hover {
    color: #ffffff;
}

.emid {
    display:flex;
    position: relative;
    border: 1px solid;
    border-radius: 15px;
    border-color: white;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:5px;
    padding-left:5px;
}

.emid>input:focus{
    outline:0;
}

.emid:focus-within {
    box-shadow: 0 0 5px 3px rgba(255,105,0,1) ;

}

.emid > input {
    margin: 15px;
    font-size:16px;
    width:100%;
    background: #191919;
    border: none;
    outline:none;
    color:white;
}

.emid > i {
    color: #e1e1e1;
    margin: 15px;
}

.mi-app{
    display:flex;
    margin-top:24px;
    border:1px solid;
    border-color:white;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

.qr img{
    margin:20px;
    border-radius:5px;
}

.description{
    margin-top:25px;
    margin-right:30px;
    line-height:15px;
}

.play-store-link {
    display: grid;
    place-content: center;
    border: 1px solid;
    border-top: none;
    border-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pstore-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    text-decoration: none;
}
.pstore-text-wrapper{
    margin-left:20px;
    color:white;
    height: 100%;
}

.pstore-wrapper:hover {
    text-decoration:underline;
    text-decoration-color:white;
}

.copyright{
    font-size:16px;
    margin-top:50px;
    color:white;
    border-top: 1px solid;
    border-top-color:grey;
    padding-top:20px;
    padding-bottom:20px;
    width:auto;
}

.copyright>a{
    text-decoration:none;
    color:white;
    margin-left: 30px;
}

.copyright>a:hover{
    text-decoration:underline;
    text-decoration-color:white;
}

.copyright>a>i{
    align-content:center;
    align-items:center;
}

.footer-main {
    margin-left: 12%;
    margin-right: 12%;
    padding-bottom: 20px;
}